#loginContainer{
    margin-top: 10%;
}

.linkContato img {
    width: 20px;
    height: 20px;
}

.sidebar {
    position: sticky;
    top: 0rem;
    height: 100vh;
}

body, main {
    background-color: lemonchiffon;
}